@import url(https://fonts.googleapis.com/css?family=Merienda+One);
@import url(https://fonts.googleapis.com/css?family=IBM+Plex+Serif);

body {
    background-color: #BFBFBF;
}

header {
    line-height: 30px
}

h1 {
    font-size: 75px;
    color: #0D0D0D;
    font-family: 'Merienda One';
    width: 100%;
    text-align: center;
}

nav {
    text-align: center;
    color: #F2F2F2;
    background-color: #595959;
    height: 40px;
}

a {
    color: #F2F2F2;
    text-decoration: none;
    position: relative;
    top: 5px;
    margin-left: 25px;
    margin-right: 25px;
    font-size: 25px;
}

h2 {
    font-size: 25px;
    color: #0D0D0D;
    font-family: 'Merienda One';
}

p {
    color: #0D0D0D;
    font-family: 'IBM Plex Serif';
    font-size: 20px;
    width: 1200px
}

aside {
    float: right;
    margin-top: 15px;
}

.Logo {
    float: left;
    position: absolute;
    top: 20px;
}